@import "src/styles";

.container {
  width: 100%;
  min-height: 100vh;
  @include element-flex(column, center, center);
  gap: $spacing-6;
}

.branding {
  display: flex;
  align-items: center;
  gap: $spacing-1;
  height: 50px;
  font-size: $font-size-xxl;
  img {
    height: 100%;
    object-fit: contain;
  }
}
