$gray-lightest-color: #f0f0f0;
$gray-lighter-color: #ededed;
$gray-light-color: #d8d8d8;

$gray-light: #f7f8f9;
$gray-100: #f0f0f0;
$gray-200: #ededed;
$gray-300: #d8d8d8;
$gray-400: #c4c4c4;
$gray-500: #b2b2b2;
$gray-600: #8c8c8c;
$gray-700: #6e6e6e;
$gray-800: #4f4f4f;
$gray-900: #3c3c3c;

$white-color: #ffffff;
$black-color: #000000;

$primary-color: #297fff;
$primary-light-color: #3c91ff;
$primary-dark-color: #005eeb;

$secondary-color: #3c4048;
$secondary-light-color: #4f525b;
$secondary-dark-color: #31343a;

$success-color: #00bfa5;
$success-light-color: #1de9b6;
$success-dark-color: #008e76;

$warning-color: #ffab00;
$warning-light-color: #ffca28;
$warning-dark-color: #ff6f00;

$text-gray: #b2b2b2;
$text-dark: #131313;
$text-white: #ffffff;
$text-light: #f4f5f7;

$error-color: #b00020;
$error-light-color: #d50032;
$error-dark-color: #7f0000;

$primary-color: #297fff;
$primaryVariant-color: #005eeb;
$secondary-color: #3c4048;
$secondaryVariant-color: #31343a;

$background-color: #ffffff;
$background-light-color: #f4f5f7;
$background-dark-color: #f0f0f0;

$backgraundVariant-color: #f4f5f7;
$gray: #b2b2b2;
$error: #b00020;
$textDark: #131313;
$textWhite: #ffffff;

$componentsPresentationChild: #005eeb39;
