@import "src/styles";

.wrapperArea {
  position: relative;
}

.textarea {
  padding: 16px 20px;
  background-color: $background-light-color;
  min-height: 180px;
  height: 180px;
  //max-height: 360px;
  //color: $dark-color;
  font-size: $font-size-m;
  font-family: $main-font;
  width: 100%;
  //font-family: $main-font;
  border-radius: $radius-m;
  //border: 1px solid $input-border-color;
  resize: vertical;
  transition: border 0.1s, border-color 0.1s;

  &:hover {
    cursor: text;
  }

  &:disabled {
    //color: lighten($dark-color, 50%);
    cursor: not-allowed;
  }
}

@include placeholder {
  font-size: $font-size-m;
  //color: $gray-color;
}

.error {
  //border-color: $danger-color;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.4);
}

.counter {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 2px 4px;
  border-radius: $radius-s;
  background-color: $background-dark-color;
  //font-size: $font-size-xs;
  //color: $gray-medium-color;
}
