@import "src/styles";

.loader {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contentIndicator {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 50%;
  //left: calc(50% + #{$sidebar-width / 2});
  transform: translate(-50%, -50%);
}

.global {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
