@import "src/styles";

.card {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: $spacing-6;

  .date {
    color: $secondary-color;
    font-size: $font-size-s;
    font-weight: $font-medium;
  }
}

.content {
  line-height: $line-height-5;
  word-break: break-all;
}

.deleteButton {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}
